<{{ wrapper }}{{ attributes }}>
  {{ title_suffix.contextual_links }}
  <{{ main.wrapper }}{{ main.attributes }}>
<div class="featured-event">
<div class = "featured-event-name">
{{ main.content.field_event_name }}
</div>
  <div class = "event-short-description">
{{ main.content.field_short_description }}
  </div>
  <div class = "event-image img-circle">
{{ main.content.field_image_ }}
  </div>
  <div class = "event-bottom-section">
{{ main.content.field_location }}

    <span class="flex glyphicon glyphicon-calendar">{{ main.content.field_date }} </span>
    <span class="flex glyphicon glyphicon-user"> {{ main.content.field_company_name}} </span>
{{ main.content.field_details }}
  </div>
</div>
  </{{ main.wrapper }}>
</{{ wrapper }}>
